* {
  font-family: cursive;
  padding: 0;
  margin: 0; }

#nav {
  background: #6e6e6dff; }
  #nav a {
    text-decoration: none;
    color: #fad0c9ff;
    font-size: 25px; }
  #nav a:hover {
    background: #fad0c9ff;
    color: #6e6e6dff;
    border-radius: 100%; }
  #nav #brand {
    font-size: 40px; }

#caro {
  height: 753px;
  overflow: hidden; }
  #caro img {
    height: 100%;
    width: 100%; }

#sign {
  padding: 10px;
  text-align: center; }
  #sign h2 {
    margin-top: 60px;
    color: #6e6e6dff;
    font-size: 50px;
    position: relative;
    display: inline-block; }
  #sign h2::before {
    content: "SIGN UP";
    font-size: 80px;
    color: #fad0c9ff;
    opacity: 0.6;
    position: absolute;
    top: -40px;
    left: -90px;
    width: 200%;
    z-index: -1; }
  #sign #sign1 {
    text-align: center; }
    #sign #sign1 #s-inn1, #sign #sign1 #s-inn2, #sign #sign1 #s-inn3 {
      height: 200px;
      width: 200px;
      background: #6e6e6dff;
      border-radius: 100%;
      -webkit-box-shadow: 0px 0px 40px 1px #6e6e6dff;
      box-shadow: 0px 0px 40px 1px #6e6e6dff;
      border: 2px solid #fad0c9ff;
      text-align: center;
      padding: 5px; }
      #sign #sign1 #s-inn1 p, #sign #sign1 #s-inn2 p, #sign #sign1 #s-inn3 p {
        margin-top: 50px;
        font-size: 30px;
        text-decoration: none;
        color: #fad0c9ff; }
      #sign #sign1 #s-inn1 i, #sign #sign1 #s-inn2 i, #sign #sign1 #s-inn3 i {
        color: #fad0c9ff; }

#log {
  text-align: center; }
  #log h2 {
    margin-top: 60px;
    color: #6e6e6dff;
    font-size: 50px;
    position: relative;
    display: inline-block; }
  #log h2::before {
    content: "LOGIN";
    font-size: 90px;
    color: #fad0c9ff;
    opacity: 0.6;
    position: absolute;
    top: -50px;
    left: -75px;
    width: 200%;
    letter-spacing: 3px;
    z-index: -1; }
  #log #log1 {
    text-align: center; }
    #log #log1 #l-inn1, #log #log1 #l-inn2, #log #log1 #l-inn3 {
      height: 200px;
      width: 200px;
      background: #6e6e6dff;
      -webkit-box-shadow: 0px 0px 40px 1px #6e6e6dff;
      box-shadow: 0px 0px 40px 1px #6e6e6dff;
      border-radius: 100%;
      border: 2px solid #fad0c9ff;
      text-align: center;
      padding: 5px; }
      #log #log1 #l-inn1 p, #log #log1 #l-inn2 p, #log #log1 #l-inn3 p {
        margin-top: 50px;
        font-size: 30px;
        text-decoration: none;
        color: #fad0c9ff; }
      #log #log1 #l-inn1 i, #log #log1 #l-inn2 i, #log #log1 #l-inn3 i {
        color: #fad0c9ff; }

#about {
  height: 600px;
  text-align: center; }
  #about h2 {
    margin-top: 60px;
    color: #6e6e6dff;
    font-size: 50px;
    position: relative;
    display: inline-block; }
  #about h2::before {
    content: "ABOUT";
    font-size: 80px;
    color: #fad0c9ff;
    opacity: 0.2;
    position: absolute;
    top: -20px;
    left: -120px;
    width: 200%;
    letter-spacing: 10px; }

#contact {
  background: #6e6e6dff;
  height: 600px;
  text-align: center; }
  #contact h2 {
    margin-top: 60px;
    color: #fad0c9ff;
    font-size: 50px;
    position: relative;
    display: inline-block; }
  #contact h2::before {
    content: "CONTACT";
    font-size: 80px;
    color: #fad0c9ff;
    opacity: 0.4;
    position: absolute;
    top: -20px;
    left: -140px;
    width: 200%;
    letter-spacing: 4px; }
